.brand{
    background: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.brand .brandName span {
    font-size: 50px;
    color: #333;
    font-weight: 600;
}

.typography{
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 0;
    background: #333;
}

.typography h1{
    font-size: 45px;
    font-weight: 700;
    color: #fff;

}