html,
body {
  padding: 0;
  margin: 0;
  background: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol, ul, dl{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

::-webkit-scrollbar{
  width: 6px;
  height: 10px;
  background: #333;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 20px;
}


