.header{
    z-index: 1000 !important;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#active{
    background: #333;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navlogo {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.navlogo:hover{
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.hamburger {
    display: none;
    border: none;
    background: none;
}

.bar {
    display: block;
    width: 33px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1000;
}

.navitem {
    margin-left: 1.5rem;
}

.navlink{
    font-size: 1.1rem;
    font-weight: 400;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 5px;
}

.navlink:hover{
    color: #f9f9f9
}


@media only screen and (max-width: 992px) {
    .navmenu {
        position: fixed;
        left: -100%;
        top:0;
        flex-direction: column;
        background: #333;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 20px;
        text-align: center;
        transition: 0.3s;
    }

    .navmenu.active {
        left: 0;
    }

    .navitem {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 1000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(11.2px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}