.productSection{
    
}

.typography{
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 0;
    background: #333;
}

.typography h1{
    font-size: 45px;
    font-weight: 700;
    color: #fff;

}

.product{
    background: #fff;
    border:  1px solid #f1f2f3;
    padding: 20px 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    text-align: center;
}

.product .productName{
    margin-top: 10px;
    color: #444;
    font-weight: 600;
    font-size: 18px; 
}

.dec p{
    font-size: 15px;
    color: #444;
}

#actinBtn{
    margin-top: 5px;
    background: #333;
    color: #f1f2f3;
    padding: 5px 25px ;
    font-weight: 600 ;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#actinBtn:hover{
    transform: scale(1.1);
}

.paginate{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    margin-bottom: 5rem;
}

.paginateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    padding: 10px 30px;
    border-radius: 50px;
}

.paginateLi{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    border-radius: 50%;
    color: #fff;
}

.paginateLi:hover{
    background: #fff;
    color: #333;
}

.paginateLink{
    font-weight: 700;
    font-size: 20px;
}

.activePaginate{
    background: #fff;
    color: #333;
}

.paginatePrev{
    margin-right: 40px;
    color: #fff;
    font-weight: 600;
    padding: 3px 6px;
    border-radius: 5px;
}

.paginateNext{
    margin-left: 40px;
    color: #fff;
    font-weight: 600;
    padding: 3px 6px;
    border-radius: 5px;
}

.paginatePrev:hover{
    background: #fff;
    color: #333;
}

.paginateNext:hover{
    background: #fff;
    color: #333;
}

/* =========================== */

.product_into{
    margin-top: 20px;
}

.prodcutImg{
    width: 100%;
    padding: 20px;
    height: 473px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

@media only screen and (max-width: 768px) {
    .prodcutImg{
        margin-bottom: 20px;
    } 
}

.product_title{
    padding: 10px 5px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #f1f2f3;
    background: #333;
}

.product_title h1{
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 3px;
}

.product_title p{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

/* ======= product price end ======= */

.product_specification{
    margin-top: 5rem;
}

.product_name{
    padding: 20px 10px;
    background: #333;
    margin-bottom: 20px;
}

.product_name h2{
    color: #fff;
    font-weight: 600;
    font-size: 33px;
}

#table{
    border-radius: 5px;
    border: 1px solid #f1f2f3;
    background: #fff;
    padding: 10px;
}

.thead{
    background: #333;
    color: #fff;
}

#actinBtn{
   background: #333; 
   color: #fff;
   padding: 5px 25px;
   font-weight: 600;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

#actinBtn:hover{
    transform: scale(1.1);
}

#middle{
    vertical-align: middle;
    font-weight: 600;
}

#imgmaddle{
    vertical-align: middle;
}

.th{
   font-size: 18px;
   font-weight: 700;
}

.spec_title{
    font-weight: 600;
    color: #444;
    padding: 10px;
    width: 160px;
    vertical-align: middle;
}

.spec_value{
    color: #666;
}